spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  application:
    name: efti-platform
  main:
    banner-mode: off
  output:
    ansi:
      enabled: always
